body{background-color:#151E29;
    display:block;
    margin: 10px auto;}
.logo{
width:55px;
margin:0 650px;
padding-top: 10px;}

.log{color: white;
text-align:center;
font-family:Arial Black, Gadget, sans-serif;
font-size:20px;
font-weight:bold;
margin-top: 10px;
;
}
.put{width:550px;
height:55px;
background-color:rgba(59, 70, 80, 0.3);
display:block;
margin:auto;
border-top:none;
border-left:none;
border-right:none;
border-bottom-color: rgb(170 184 194);
border-bottom-width: 2px;


}
  ::placeholder{color:rgb(170 184 194);
  font-size:15px;
  font-family:helvetica;
  position:relative;
  top:-12px;
  left:7px;}
  
  .bit{width:560px;
  height:50px;
  background-color:rgb(29,161,242);
  color:white;
  opacity:0.5;
  text-align:center;
  border-radius:30px;
  display:block;
  margin:auto;
  border:none;}
  
  .button {
  border: none;
  color: white;
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  background-color:#151E29;
  color:rgb(29,161,242);}
  
  .tt{display: block;
  margin-left:550px;}
  
  .bb{color:white;
  text-align: center;}